body {
    font-family: Arial, sans-serif;
}
h1{
    font-size: 40pt;
    padding-left: 30px;
    padding-right: 30px;
}

h2{
    color: #911826;
    font-size: 30pt;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.left-column, .right-column {
    padding: 20px;
    overflow: auto;
}

.left-column {
    flex: 2; 
    margin-right: 0; 
    border:solid;
    border-right: none;
    border-color: black;
    border-width: .7mm;
}

.right-column {
    flex: 1.5;
    background-color: #91182659;
    margin-left: 0; 
    border: solid;
    border-color: black;
    border-width: .7mm;
}

.highlight {
    font-weight: bold;
    background-color: #91182659;
}

p{
    font-size: 20pt;
}

button {
    background-color: #91182659;
    border-color: black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
}

/* .detail-text{
    font-size: 20pt;
} */

.exp-header{
    font-size: 20pt;
    font-weight: bold;
    text-decoration: underline;
}

.list{
    font-size: 20pt;
}

a{
    font-size: 20pt;
}

.header{
    color: #911826;
}


.disclaimer{
    color: #911826;
}


/* styles.css */
.imgdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgdiv img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures image fits within the container without distortion */
    max-width: 100%; /* Ensures the image doesn't overflow the container */
  }
  
  /* .imgdiv img {
    max-width: 20%;
    height: auto;
    object-fit: contain;
  } */
  