body {
    font-family: Arial, sans-serif;
}
h1{
    font-size: 40pt;
}
.container {
    display: flex;
}

.left-column, .right-column {
    padding: 20px;
    overflow: auto;
}

.left-column {
    flex: 2; 
    margin-right: 0; 
    border:solid;
    border-right: none;
    border-color: black;
    border-width: .7mm;
}

.right-column {
    flex: 1.5;
    background-color: greenyellow;
    margin-left: 0; 
    border: solid;
    border-color: black;
    border-width: .7mm;
}

.highlight {
    font-weight: bold;
    background-color: greenyellow;
}

p{
    font-size: 20pt;
}

button {
    background-color: greenyellow;
    border-color: black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
}

/* .detail-text{
    font-size: 20pt;
} */

.exp-header{
    font-size: 20pt;
    font-weight: bold;
    text-decoration: underline;
}

.list{
    font-size: 20pt;
}

a{
    font-size: 20pt;
}

.header{
    color: blue;
}


.disclaimer{
    color: blue;
}